.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div.overlay {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.overlay > div {
  display: table-cell;
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: 1.5;
  text-align: center;
  vertical-align: middle;
}

.modal-dialog {
  max-width: 700px !important;
}

#landing-image{
  
  transition: box-shadow 0.3s ease-in 0s;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 50px 0px;
}

.card-img-top{ 
border-radius: 15px 15px 0px 0px;
}

.vh-25 {
  height: 35vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
